
.container {
    width: 1280px;
    height: 1626px;
}

.menu {
      width: 620px;
    height: 15px;
    margin-left:330px;
    margin-right:330px;
    margin-top: 31.5px;

}

.menu a {
    font-family:'Montserrat';
    text-decoration: none;
    color: red;
    background: white;
    font-size:18px;
    }

.menu li {
    display: inline;
    margin-right: 0px;
    margin-left: 72px;
    }
.menu li:first-child {
    margin-left: 0px;
    margin-right: 0px;
}
.menu li:last-child {
    margin-left: 50px;
    margin-right: 0px;
}

.img {
    width: 1280px;
    height: 789px;
    margin-left:0px;
    margin-top: 31.5px;
    background-color: gray;
    list-style-position: revert;

}

.h {
    width: 774px;
    height: 29px;
    margin-left:253px;
    margin-top: 48px;
    font-family:'Montserrat';
    font-size:22px;

}
.p1 {
    width: 1145px;
    height: 132px;
    margin-left:67.5px;
    margin-top: 38px;
    font-family:'Montserrat';
    font-size:16px;
    text-align: center;
    line-height: 26px;
    letter-spacing: 2.4px;

      }
.p2 {
    width: 1145px;
    height: 216px;
    margin-left:67.5px;
    margin-top: 28px;
    font-family:'Montserrat';
    font-size:16px;
    text-align: center;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.button {
    display: block;
    width: 191px;
    height: 51px;
    text-align: center;
    margin-left:544.5px;
    margin-top: 66px;
    background-color: red;
    border: none;

}
.button a {
    color: aliceblue;
    text-decoration: none;
    font-family:'Montserrat';
    font-size:12px;
    letter-spacing: 1.8px;
    line-height: 12px;

}



.footer {
    width:1070px;
    height:25px;
    margin-left:105px;
    margin-top:40px;
    text-align: right;
    font-family:'Montserrat';
}



